version: '3.9'
services:
  bot:
    container_name: '${APP_NAME}'
    restart: always
    image: gfrancv/vilbot
    links:
      - mongoDB
    depends_on:
      - mongoDB
  # MongoDB services
  mongoDB:
    container_name: '${APP_NAME}_db'
    image: mongo
    restart: always
    volumes:
      - ${DOCKER_PERSIST_PATH}:/data/db
  mongo-express:
    container_name: mongo_dashboard
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    links:
      - mongoDB
    depends_on:
      - mongoDB
    environment:
      ME_CONFIG_BASICAUTH: 'true'
      ME_CONFIG_BASICAUTH_USERNAME: '${DASHBOARD_DB_USERNAME}'
      ME_CONFIG_BASICAUTH_PASSWORD: '${DASHBOARD_DB_PASSWORD}'
      ME_CONFIG_MONGODB_URL: 'mongodb://mongoDB'
