name: Deployment Pipeline

on:
  push:
    branches: [main]

jobs:
  avoid_redundancy:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '20.10'
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run eslint

  build_docker_image:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_APP_NAME: vilbot
          envkey_APP_ENV: prod
          envkey_DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          envkey_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          envkey_DP_FORCE_YTDL_MOD: '@distube/ytdl-core'
          envkey_CONNECTION_DB: ${{ secrets.CONNECTION_DB }}
          envkey_SOCKET_URL: ${{ secrets.SOCKET_URL }}
          envkey_JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          fail_on_empty: true
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: gfrancv/vilbot:latest

  deploy_commands:
    needs: [build_docker_image]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '20.10'
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_APP_NAME: vilbot
          envkey_APP_ENV: prod
          envkey_DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          envkey_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          envkey_DP_FORCE_YTDL_MOD: '@distube/ytdl-core'
          envkey_CONNECTION_DB: ${{ secrets.CONNECTION_DB }}
          envkey_SOCKET_URL: ${{ secrets.SOCKET_URL }}
          envkey_JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          fail_on_empty: true
      - name: Install dependencies
        run: npm ci
      - name: Deploy commands
        run: npm run deploy-commands

  deploy:
    needs: [deploy_commands]
    runs-on: self-hosted
    steps:
      - name: Exec deploy.sh script
        run: ./deploy.sh
