name: Deployment Pipeline

on:
  push:
    branches:
      - main
      - gh-actions

jobs:
  eslint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16.15'
      - name: List
        run: ls
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run eslint
