name: Pull Request Checks

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '20.10'
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run eslint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '20.10'
      - name: Create .env file
        run: |
          echo "APP_NAME=vilbot" > .env ||
          echo "APP_ENV=test"  >> .env ||
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test

  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '20.10'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
